* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type="submit"],
button {
  -webkit-appearance: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

input[type="text"]:focus,
input[type="text"]:active,
input[type="email"]:focus,
input[type="email"]:active,
input[type="password"]:focus,
input[type="password"]:active,
input[type="submit"]:focus,
input[type="submit"]:active {
  outline: none;
}

input[type="submit"] {
  border: none;
}

/*18px*/
/*14px*/
/*12px*/
h1,
h2,
h3 {
  font-weight: 500;
}

h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  font-size: 1.125rem;
  margin: 1rem 0;
}

h2 {
  font-size: 16px;
  margin: 0.875rem 0;
}

h3 {
  font-size: 0.875rem;
  margin: 0.75rem 0;
}

/*
h4 {

}
h5 {

}
h6 {

}
*/
a {
  color: #26a69a;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  color: #4a4a4a;
  background: #ecf3f7;
}

.container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.list__actions span,
.list__actions:before,
.list__actions:after {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 5px;
  height: 5px;
  margin-left: 4px;
}

.list__actions {
  width: 24px;
  height: 5px;
  text-align: center;
  cursor: pointer;
}
.list__actions span {
  display: inline-block;
  vertical-align: top;
}
.list__actions:before,
.list__actions:after {
  content: "";
  display: inline-block;
  vertical-align: top;
}
.list__actions:before {
  margin: 0;
}

.clearfix:after,
.list__item:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.float--left {
  float: left !important;
}

.float--right {
  float: right !important;
}

.is--hide {
  display: none !important;
}

.is--show {
  display: block !important;
}

.is--hidden {
  visibility: hidden !important;
}

.is--visible {
  visibility: visible !important;
}

.text--lg {
  font-size: 1.125rem !important;
}

.text--sm {
  font-size: 0.875rem !important;
}

.text--xs {
  font-size: 0.75rem !important;
}

.text--reg {
  font-weight: 400 !important;
}

.text--bold {
  font-weight: 500 !important;
}

.spacer {
  margin: 1rem 0 !important;
}

.spacer--lg {
  margin: 1.125rem 0 !important;
}

.spacer--sm {
  margin: 0.875rem 0 !important;
}

.spacer--xs {
  margin: 0.75rem 0 !important;
}

.spacer--0 {
  margin: 0 !important;
}

.spacer--top--xs {
  margin-top: 0.75rem !important;
}

.important {
  color: #ff5252 !important;
}

.list {
  display: block;
}
.list__item {
  position: relative;
  width: 100%;
  height: 60px;
  margin: 0 0 1px;
  border-radius: 2px;
  background: rgba(239, 83, 80, 0.85);
}
.list__item:last-child {
  margin: 0;
}
.list__item.disabled:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  z-index: 10;
}
.list__item.pink {
  background: rgba(240, 98, 146, 0.85);
}
.list__item.purple {
  background: rgba(126, 87, 194, 0.85);
}
.list__item.blue {
  background: rgba(66, 165, 245, 0.85);
}
.list__item.green {
  background: rgba(77, 208, 225, 0.85);
}
.list__item.yellow {
  background: #ffe082;
}
.list__checkbox {
  position: relative;
  float: left;
  width: 60px;
  height: 100%;
  border-right: 1px solid #ffffff;
  text-align: center;
  z-index: 11;
}
.list__checkbox input[type="checkbox"] {
  position: relative;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.125rem;
}
.list__name {
  position: relative;
  float: left;
  width: calc(100% - 60px);
}
.list__text {
  font-size: 1.125rem;
  color: #ffffff;
  line-height: 60px;
  padding: 0 0 0 25px;
}
.list__form {
  position: absolute;
  top: 5px;
  left: 12px;
  margin: 0;
  width: calc(100% - 25px);
  z-index: 10;
  display: none;
}
.list__form .colorSelector {
  right: 95px;
}
.list__actions {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
}
.list__actions + .dropdown {
  z-index: 100;
}

.dropdown {
  position: absolute;
  top: calc(50% + 10px);
  right: -37px;
  width: 150px;
  background: #ffffff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 10;
  display: none;
}
.dropdown:before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 5px solid #ffffff;
}
.dropdown__item {
  display: block;
  border-bottom: 1px solid #eeeeee;
}
.dropdown__item:last-child {
  border: none;
}
.dropdown__link {
  display: block;
  width: 100%;
  padding: 12px 20px;
  font-size: 0.875rem;
  color: #4a4a4a;
}

.button,
input[type="submit"] {
  display: block;
  height: 35px;
  padding: 0 20px;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 35px;
  background: #26a69a;
  border-radius: 2px;
  border-bottom: 2px solid #00897b;
}
.button:active,
input[type="submit"]:active {
  border-width: 0;
}

form {
  position: relative;
  margin: 1rem 0;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border-radius: 4px;
  border: 1px solid #dcdcdc;
  padding: 0 20px;
  color: #4a4a4a;
}

textarea {
  border-radius: 4px;
  border: 1px solid #dcdcdc;
  padding: 5px 10px;
}

input[type="submit"] {
  cursor: pointer;
}

.form__inputText--lg {
  width: 100%;
  height: 50px;
  font-size: 16px;
}

input[type="text"].form__inputText--addItem {
  padding-right: 220px;
}

.form__inputSubmit--inside {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.colorSelector {
  position: absolute;
  height: 16px;
  right: 90px;
  top: 50%;
  transform: translateY(-50%);
}
.colorSelector__inputRadio {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;
  font-size: 16px;
  margin: 0 6px 0 0;
  visibility: hidden;
}
.colorSelector__inputRadio:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  visibility: visible;
}
.colorSelector__inputRadio:last-child {
  margin: 0;
}
.colorSelector__inputRadio.checked:after {
  border: 1px solid #cccccc;
  box-shadow: inset 0 0 0 1px #ffffff;
  top: -1px;
  left: -1px;
}
.colorSelector__inputRadio.red:after {
  background: rgba(239, 83, 80, 0.85);
}
.colorSelector__inputRadio.pink:after {
  background: rgba(240, 98, 146, 0.85);
}
.colorSelector__inputRadio.purple:after {
  background: rgba(126, 87, 194, 0.85);
}
.colorSelector__inputRadio.blue:after {
  background: rgba(66, 165, 245, 0.85);
}
.colorSelector__inputRadio.green:after {
  background: rgba(77, 208, 225, 0.85);
}
.colorSelector__inputRadio.yellow:after {
  background: #ffe082;
}
